/* ! generics */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: antiquewhite;
}

/* ! card */
.custom-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}

.custom-card img {
  width: 100%;
  margin-bottom: 1rem;
}
